<!DOCTYPE>
<html>

<head>
    <script src="./js/vue.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/navlist.css">
</head>

<body>
    <div id="app">
        <div class="nav-page">
            <div class="nav-header">
                <img class="logo" src="./images/nav_logo.png">
                <a class="app-link" href="#/app/audi-rate">返回首页</a>
            </div>
            <div class="nav-block">
                <ul class="nav-list flex-row" ref="navlist">
                    <li v-for="(nav,index) in navlist" :key="nav.title" class="nav-single" @click="more(nav,index)">
                        <div class="nav-per" :style="getStyle(nav)">
                            <p class="nav-single-header">{{nav.title}}</p>
                        </div>
                    </li>
                    <div class="indicator-triangle" ref="triangle"></div>
                </ul>
            </div>
            <div class="nav-info">
                <div class="sub-nav-list flex-row">
                    <div class="sub-nav-block" v-for="row in nav.children" @click="go(row)" :key="row.title">
                        <div>
                            <a>{{row.title}}</a>
                            <span>{{row.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    navlist: [],
                    nav: {},
                    length: 3
                }
            },
            methods: {
                go(nav) {
                    window.open(nav.url, '_blank');
                },
                getStyle(nav) {
                    return {
                        background: "url(" + nav.img + ") no-repeat",
                        backgroundSize: 'auto',
                        backgroundOrigin: 'center'
                    }
                },
                more(nav, index) {
                    this.nav = nav;
                    let ele = this.$refs.triangle;
                    let width = this.$refs.navlist.clientWidth / this.length;
                    ele.style.left = width * index + width / 2 + 'px';
                }
            },
            beforeCreate() {
                fetch('./data.json').then(response => {
                    return response.json()
                }).then(data => {
                    this.navlist = data.navlist;
                    this.length = this.navlist.length >= 3 ? this.navlist.length : 3;
                    this.nav = this.navlist && this.navlist[0];
                })
            },
            mounted() {
                this.more(this.nav, 0);
                // document.querySelector('.nav-single').click();
            }
        })
    </script>
</body>

</html>